        <aside id="sidebar"
            class="fixed md:static z-30 inset-y-0 left-0 w-64 bg-[#0c0c0c] shadow-lg transform -translate-x-full md:translate-x-0 transition-transform duration-200 ease-in-out md:block hidden" data-aos="fade-right" data-aos-delay="100">
            <div class="p-6">
                <h2 class="text-2xl font-semibold text-white mb-6">Dashboard</h2>
                <ul class="space-y-2">
                    <li>
                        <a href="/student/dashboard"
                            class="flex items-center px-4 py-2 rounded text-gray-700 hover:bg-gray-800 hover:text-blue-700 transition">
                            <span class="material-icons mr-2">dashboard</span> Overview
                        </a>
                    </li>
                    <li>
                        <a href="/student/courses"
                            class="flex items-center px-4 py-2 rounded text-gray-700 hover:bg-gray-800 hover:text-blue-700 transition">
                            <span class="material-icons mr-2">book</span> Courses
                        </a>
                    </li>
                    <li>
                        <a href="/student/results"
                            class="flex items-center px-4 py-2 rounded text-gray-700 hover:bg-gray-800 hover:text-blue-700 transition">
                            <span class="material-icons mr-2">grade</span> Results
                        </a>
                    </li>
                    <li>
                        <a href="/student/profile"
                            class="flex items-center px-4 py-2 rounded text-gray-700 hover:bg-gray-800 hover:text-blue-700 transition">
                            <span class="material-icons mr-2">person</span> Profile
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
