<aside id="sidebar" class="fixed md:static z-30 inset-y-0 left-0 w-64 bg-[#0c0c0c] shadow-lg transform -translate-x-full md:translate-x-0 transition-transform duration-200 ease-in-out md:block hidden" data-aos="fade-right" data-aos-delay="100">
  <div class="p-6">
    <h2 class="text-2xl font-semibold text-white mb-6">Lecturer Panel</h2>
    <p class="text-gray-300 mb-4"><%= user.name %></p>
    <ul class="space-y-2">
      <li>
        <a href="/lecturer" class="flex items-center px-4 py-2 rounded text-gray-300 hover:bg-gray-800 hover:text-blue-400 transition">
          <span class="material-icons mr-2">dashboard</span> Dashboard
        </a>
      </li>
      <li>
        <a href="/lecturer/courses" class="flex items-center px-4 py-2 rounded text-gray-300 hover:bg-gray-800 hover:text-blue-400 transition">
          <span class="material-icons mr-2">menu_book</span> My Courses
        </a>
      </li>
      <li>
        <a href="/lecturer/all" class="flex items-center px-4 py-2 rounded text-gray-300 hover:bg-gray-800 hover:text-blue-400 transition">
          <span class="material-icons mr-2">group</span> My Students
        </a>
      </li>
      <li>
        <a href="/lecturer/grades" class="flex items-center px-4 py-2 rounded text-gray-300 hover:bg-gray-800 hover:text-blue-400 transition">
          <span class="material-icons mr-2">grading</span> Grade Entry
        </a>
      </li>
      <li>
        <a href="/lecturer/grades/all" class="flex items-center px-4 py-2 rounded text-gray-700 hover:bg-gray-800 hover:text-blue-700 transition">
          <span class="material-icons mr-2">grading</span> View Grades
        </a>
      </li>
      <li>
        <a href="/lecturer/profile" class="flex items-center px-4 py-2 rounded text-gray-300 hover:bg-gray-800 hover:text-blue-400 transition">
          <span class="material-icons mr-2">person</span> Profile
        </a>
      </li>
           <li>
        <a href="/logout"
          class="flex items-center px-4 py-2 rounded text-red-400 hover:bg-gray-800 hover:text-red-500 transition">
          <span class="material-icons mr-2">logout</span> Logout
        </a>
      </li>
    </ul>
  </div>
</aside>